api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
            max_age: 60
            shared_max_age: 3600
        pagination_client_enabled: true
        pagination_client_items_per_page: true
        pagination_items_per_page: 100
        pagination_maximum_items_per_page: 1000
